.family-display-wrap {
  margin-top: 30px;
  height: 90vh;
}
.family-display-title {
  text-align: center;
}

.family-display-title h1 {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: cursive;
}

.family-display-title p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.family-display-images-wrap img {
  width: 330px;
  height: 500px;
}
.family-images :hover {
  width: 390px;
  height: 530px;
}

.family-display-images-wrap {
  display: flex;
  margin-top: 40px;
}

.family-images {
  margin-left: 25px;
}
