*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar-wrap{
    display: flex;
    font-family: cursive;
    justify-content: space-around;
    background-color: black;
    color: white;

}

.content ul{
    display: flex;
    margin-top: 15px;
    
}
.content li{
    margin-left: 20px;
    
}

li{
    list-style: none;
}